* {
  box-sizing: border-box;
}

/* small */
@media only screen and (max-width: 300px) {
  body {
    background-color: red;
  }
  
  /* exercise 3
  #medium,
  #large {
    display: none;
  }*/
}

#small {
  font-size: 10px;
}

/* medium */
@media only screen and (min-width: 301px) and (max-width: 768px) {
  body {
    background-color: green;
    
  }
  /* exercise 3
   #small,
  #large {
    display: none; 
  }*/
}

#medium {
  font-size: 20px;
}

/* large */
@media only screen and (min-width: 769px) {
  body {
    background-color: blue;
    font-size: 30px;
  }

  #small,
  #large,
  #medium {
    float: left;
  }
  /* exercise 3
  #small,
  #medium {
    display: none;
  }*/
}

#large {
  font-size: 30px;
}


